$primary-color : rgb(48, 48, 48) ;
$active-link-bg : rgb(207,185, 149);
$title-color : #cfb995;
$weird-green : #57e690 ;
$white : #f9f9f9;
$green-normal : #68b680;
$green-hover : #46915d ;
$red-normal : #ff3750 ;
$red-hover : #ce2c40 ;
